/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */
#nav-wrap {
  font: 12px "opensans-bold", sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}
.opaque {
  background-color: #333;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn {
  display: none;
}

ul#nav {
  padding: 0;
}
li#nav {
  display: inline;
  font-size: 13px;
  list-style-type: none;
  margin-left: 30px;
}
a#nav {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: MediumPurple;
  &:hover {
    color: white;
  }
}
@media (max-width: 500px) {
  padding: 10px 0;
  li#nav {
    padding: 10px 0;
    display: block;
    margin-left: 0;
  }
}


/* 
ul#nav {
  min-height: 48px;
  width: auto;

  text-align: center;
}
ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

ul#nav li a {

  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: #333;

  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
*/